.circle {
  border-radius: 50%;
  width: 25%;
  padding: 5rem;
}

#header {
  border: 2px solid #cebea4;
  padding: 4rem 0;
}

#inputTask {
  background-color: #1e1e1e;
  color: #cebea4;
  border: 5px !important;
}

#inputTask:focus {
  box-shadow: 0 0 0 0.25rem #cebea4;
}

#inputTask::placeholder {
  color: #cebea4;
  font-size: 15px;
}

#circleList {
  border-radius: 50%;
  width: 2%;
  padding: 20px;
  border: 3px solid #ff5531;
  cursor: pointer;
}

#circleListGreen {
  border-radius: 50%;
  width: 2%;
  padding: 20px;
  border: 3px solid #57cb4c;
  background-color: #57cb4c;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  text-decoration-thickness: 4px;
}
